PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/vienterprises?retryWrites=true&w=majority
COMPANY_EMAIL=vienterprises101@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=vienterprises101@gmail.com
SMTP_PASS=your_gmail_app_password_here
FRONTEND_URL=http://localhost:5173